# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=

# Airflow User (created during init)
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

# Airflow UID (optional, used for file permissions)
AIRFLOW_UID=50000

# Airflow configuration
# Generated with python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__API_AUTH__JWT_SECRET=
python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=